<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="com.github.frimtec.android.securesmsproxy.SMS_RECEIVED" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".SecureSmsProxyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="S2MSP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.github.frimtec.android.securesmsproxy.intent.action.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SendLogActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LogcatActivity"
            android:label="@string/title_activity_logcat"
            android:parentActivityName=".ui.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.frimtec.android.securesmsproxy.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.frimtec.android.securesmsproxy.ui.MainActivity" />
        </activity>

        <receiver
            android:name=".service.SmsListener"
            android:permission="android.permission.BROADCAST_SMS"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.SmsSender"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.github.frimtec.android.securesmsproxy.SEND_SMS" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".service.IsAllowedPhoneNumberContentProvider"
            android:authorities="com.github.frimtec.android.securesmsproxy.provider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>